@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
:root{
  --rose-background-color : hsl(13, 31%, 94%);
}

html {
  font-size : 62.5%;
}

*,
*::after,
*::before {
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}
body{
  font-family: "Red Hat Text", sans-serif;
  background-color:var(--rose-background-color);
 
}
.app {
  display : flex;
  gap:3rem;
  width : 100%;
  
}