.productContainer {
    display : flex;
    flex-direction : column;
    position:relative;
    width : 100%;
    height : 100%;
}

.productImage {
    width : 100%;
    border-radius : 1rem;
    margin-bottom : 2rem;
}
/* .productContainer p:last-child{
    margin-bottom : 4rem;
} */
.category {
    margin-bottom : 0.5rem;
    color : hsl(14, 25%, 72%);
    font-weight:500;
}
.name {
    font-weight : 700;
    font-size : 1.8rem;
    color:hsl(14, 65%, 9%);
    margin-bottom : 0.5rem;
}
.price {
    color:hsl(14, 86%, 42%);
    font-weight:500;
    margin-bottom : 3rem;
}
.addtocartBtn span {
    display : inline-block;
    text-wrap:nowrap;
    
}
.addtocartBtn{
    display :flex;
    justify-content : center;
    align-items :center;
    font-size : 1.4rem;
    gap:2rem;
    font-weight:bold;
    /* padding: 1rem 0.5rem; */
    padding:1rem;
    border-radius:4rem;
    border-color:hsl(14, 25%, 72%);
    outline :none;
    color:hsl(14, 65%, 9%);
    position:absolute;
    top:62%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: #fff;
}      
@media (max-width : 768px){
    .addtocartBtn{
        padding : 0.5rem;
        top : 75%;
    }
    .quantitybutton{
        padding : 0.25rem;
    }
}

.quantitybutton {
   background-color : hsl(14, 86%, 42%);
   border-radius : 50%;
   width : 100%;
   height : 100%;
   border : 0.2rem solid #fff;
   outline : none;
   aspect-ratio : 2/2;
   padding : 0.5rem;
   display : flex;
   align-items :center;
   justify-content :center;
  

}
.computebutton {
    background-color : hsl(14, 86%, 42%);
    color : #fff;
    font-size : 1.8rem;
}
.addborder {
    border : 0.1rem solid hsl(14, 86%, 42%);
}